.container {
	margin: auto;
}
.main {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	border: 2px solid black;
	width: 440px;
	height: 900px;
}
.display {
	width: 399px;
	height: 603px;
	border: 1px solid black;
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
.controller {
	width: 380px;
	height: 200px;
	border: 1px solid red;
	position: relative;
}
.monitor {
	width: 80%;
	height: 100%;
	border: 1px solid black;
	position: relative;
	display: flex;
	flex-wrap: wrap;
}
.point {
	width: 19%;
	height: 50px;
	text-align: center;
	padding-top: 20px;
}
.pixel {
	width: 15px;
	height: 15px;
	border: 1px solid #f0f0f0;
}
.player {
	background-color: #57fab4;
}
.target {
	background-color: #57fab4;
}